body {
    background-color: #252020;
}

h2 {
    color: antiquewhite;
}

#background {
    position: absolute;
    padding-left: 17%;
    padding-top: 4%;
    width: 1000px;
    height: 600px;
}

#person {
    position: absolute;
    width: 150px;
    height: 200px;
    padding-top: 27%;
    padding-right: 70%;
    transform: scaleX(-1);
}

#fuel {
    position: absolute;
    width: 60px;
    left: 12.5%;
    top: 45%;
}

#hotdog {
    position: absolute;
    width: 35px;
    height: 20px;
    top: 63%;
    left: 14%;
    
}

#corona {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 70%;
    left: 14%;
    
    
}

#axe {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 80%;
    left: 12%;
}

#arrowright {
    position: absolute;
    width: 90px;
    height: 70px;
    top: 80%;
    left: 90%;
}

#arrowleft {
    position: absolute;
    width: 90px;
    height: 70px;
    transform: scaleX(-1);
    top: 80%;
    left: 4%;
}

#key {
    position: absolute;
    width: 50px;
    height: 80px;
    top: 30%;
    left: 12.5%;
}

#text {
    position: absolute;
    left: 35%;
    top: 15%;
}

.btn {
    position: absolute;
    margin-top: 20%;
    margin-left: 28%;
}