body {
    background-color: #252020;
}

.images {
    width: 550px;
    height: 400px;
    padding-left: 30%;
    padding-top: 5%; 
}

.button {
    padding-left: 43.5%;
    padding-top: 3%;
}


button {
    position: absolute;
    border: none;
    color: #ffffff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #42545A, #3F7383, #49563C, #5A8C68); 
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    }
    
    
    button:hover {
    animation: animation 8s linear infinite;
    border: none;
    }
    
    @keyframes animation {
        0% { background-position: 0%;}
        100% {background-position: 400%;}
    }
    
    button::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #42545A, #3F7383, #49563C, #5A8C68;
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
    }
    
    button:hover::before {
        filter: blur(20px);
    }